.App {
  text-align: center;
}

.App-header {
  background-color: #87cefa; /* Default Color: #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

/* UKTC Logo */
.School-logo {
  height: 20vmin; /* Logo Size */
  pointer-events: none;
  /* Alignments */
  align-items: top;
  margin-top: 2em;
}

/* UKTC Logo Spin Animation */
@media (prefers-reduced-motion: no-preference) {
  .School-logo {
    animation: School-logo-spin infinite 20s linear;
  }
}

/* UKTC Logo Spin Rotation */
@keyframes School-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login-Register Container Setup */
.LogReg_Container
{
	position: relative;
  justify-content: center;
  margin: 2.5em;
	min-width: 300px;
	min-height: 400px;
	background: #a1caf1;
	padding: 40px 30px 30px;
	border-radius: 10px;
	box-shadow: 25px 25px 75px #73c2fb,
	10px 10px 70px #5b92e5,
	inset -5px -5px 15px #93ccea,
	inset 5px 5px 15px #93ccea;
}
