.App {
  text-align: center;
}

.App-header {
  background-color: #87cefa; /* Default Color: #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

/* UKTC Logo Size */
.School-logo {
  height: 25vmin;
  pointer-events: none;
  align-items: top;
  margin-top: 2.5em;
}

/* UKTC Logo Spin Animation */
@media (prefers-reduced-motion: no-preference) {
  .School-logo {
    animation: School-logo-spin infinite 20s linear;
  }
}

/* UKTC Logo Spin Rotation */
@keyframes School-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
