*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.nav{
    background-color: rgb(55, 55, 158);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-size:3vh;
}
.nav a{
    color: inherit;
    text-decoration: none;
}
.nav ul {
   padding: 0;
   margin:0;
   list-style: none;
   display: flex;
   gap: 1rem;
}
.nav ul li{
    padding: 30px 30px;
}
.nav a #servise{
    visibility:hidden;
    position: absolute;
    width:auto;
    border: 3px solid white;
    height: 20px;
    font-size: 18px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding:0 5px 8px 5px;
}
.nav .navtext:hover #servise{
    visibility:visible;
}
.homeShortcuts{
    display: grid;
    height: auto;
    width: 200px;
}
.homeShortcuts #Home{
    background-color: red;
    font-size:1.2rem;
    cursor: pointer;
    height: 45px;
}
.homeShortcuts a .Start{
    color: white;
    font-size: 17px;
    padding-left: 5px;
}
.homeShortcuts a{
    list-style: none;
    text-decoration: none;
}
.homeShortcuts .dash-home-shortcuts{
    border-bottom:1px solid white;
    height:40px;
    cursor: pointer;
}
.mobil-apps{
    background-color:#497FAE;
    height:355px; /*Resoluion for big display*/
    /* height: 148px;  Resolutin of the laptop*/
}
.mobil-apps .mobile-apps-text{
    color: white;
    padding-left: 5px;
}
/* .mobil-apps #info-icons{
    padding-left: 5px;
    size: 50px;
} */